@charset "UTF-8";
/* common.css 
  상단 헤더 서식, 하단 푸터 서식 공통 */

header {
  position: absolute; /* 상단 헤더, 메인 겹치지 위함 */
  width: 100%;
  height: 70px;
  z-index: 1000;
}
header > h1 {
  padding: 24px 0 0 2%;
}

/* 내비게이션 */
.gnb {
  width: 600px;
  margin: -21px auto 0 auto;
}
.gnb > ul {
  display: flex;
  justify-content: space-around;
}
.gnb > ul > li > a {
  color: var(--m_bg_color);
  font-size: 1.2rem;
}
.gnb > ul > li > a:hover {
  text-decoration: underline;
}

/* 로그인 아이콘, 알림 아이콘 */
header i.fas {
  color: var(--m_bg_color);
  position: absolute; top: 22px;
  font-size: 1.6rem;
  cursor: pointer;
}
.fa-user {right: 5%;}
.fa-bell {right: 2%;}

/* 화면이 세로 스크롤되면 header에 적용되는 서식 */
header.h_act {
  position: fixed; top: 0; left: 0;
  background: rgba(255, 255, 255, .8) !important;
}
.h_act .gnb li a, .h_act i {
  color: var(--f_color1) !important;
}

/* 푸터 서식 */
footer {
  background: var(--f_color1);
  padding: 40px 0;
  height: 100px;
}
.f_inner {
  width: 1200px;
  margin: 0 auto;
}

footer h2 {
  float: left;
  padding-top: 10px;
  width: 150px;
  height: 60px;
}

.f_lnb {float: left;}
.f_lnb > ul {
  display: flex;
  padding-top: 15px;
}
.f_lnb a {
  color: #bababa;
  padding: 0 20px;
  border-right: 1px solid #ccc;
}
.f_lnb li:nth-child(2) a {color: var(--m_bg_color);}
.f_lnb li:last-child a {border: none;}

address {
  clear: left;
  line-height: 20px;
  text-transform: uppercase;
  padding-left: 170px;
  color: var(--m_bg_color);
}
address dt, address dd {display: inline-block;}