@charset "UFT-8";

main {overflow: hidden;}
.txt-center {text-align: center;}

/* 영상 컨텐츠 */
#intro_m {
  height: 100vh;
  color: var(--m_bg_color);
  overflow: hidden;
}
#intro_m article {
  position: absolute;
  width: 100%;
  top: 26%;
  z-index: 100;
  text-align: center;
  font-size: var(--f_size2); /* 16px */
}

#intro_m p {
  line-height: 80px;
}

#intro_m article a {
  color: var(--m_bg_color);
  font-size: var(--f_size1);
  text-decoration: underline;
  padding: 5px 10px;
}
#intro_m article a:first-of-type {
  background: rgb(45, 119, 216);
}

/* section마다 제목 공통 서식 */
.sec_title {
  font-size: 60px;
  font-weight: bold;
  padding-bottom: 20px;
  text-align: center;
}

/* 아래로 이동 버튼 */
.next_page {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-left: 2px solid var(--m_bg_color);
  border-bottom: 2px solid var(--m_bg_color);
  transform: rotate(-45deg);
  position: absolute;
  bottom: 40px;
  left: 50%;
}

/* 각 section별 공통서식 */
#top3, #buy, #cs {
  margin: 150px auto;
  width: 1200px;
}

/* top3 영역 서식 */
#top3 {
  overflow: hidden; /* 선택 */
  padding-top: 70px;
}
.sec_title2 {
  font-size: 30px;
  font-weight: bold;
}
.p01 {
  font-size: var(--f_size2);
  line-height: 50px;
}

/* slide 서식 */
.top3 {
  position: relative;
  margin-top: 50px;
  padding: 20px 0 50px 0;
}
.top3 .swiper-wrapper {
  width: 100%;
  height: 100%;
}

/* 자동차 옵션 서식 */
.rank {
  color: #327186;
  border: 1px solid #327186;
  padding: 6px 30px;
  border-radius: 20px;
  font-size: var(--f_size1); /*14px*/
}
.top3_title {
  font-size: 26px;
  font-weight: 500;
  padding-top: 30px;
  color: var(--s_color01);
}

/* 자동차 사진 */
.top3 img {
  width: 400px;
  padding: 80px 0;
  /* 시간 속성을 넣어줌 (역동적인 느낌) [강사 생성] */
  transition: 0.8s;
  transition-timing-function: cubic-bezier(0.1, 1.0);
  transform: scale(0.7);
}
/* 이미지 멈출 때 크기 확장하기 [강사 생성] */
.top3 .swiper-slide-active img {
  transform: scale(1.2);
}

/* 디테일 서식 - 색상 정보, 가격 정보, 옵션 */
.detail {
  display: flex;
  justify-content: center;
  padding-bottom: 60px;
}
.detail li {
  width: 220px; /*190px로 작성*/
  border-right: 1px solid #ccc;
  padding: 0 20px;
  font-size: var(--f_size2);
  line-height: 20px;
  text-align: left;
}
.detail li:last-child {
  border: none;
  padding-top: 6px;
}

.price {
  font-size: 32px;
  font-weight: 500;
  color: #043e96;
}

/* 색상박스 */
.outer_color, .inner_color {
  display: block;
  width: 56px;
  height: 40px;
  text-indent: -9999px;
  float: left;
  margin-right: 10px;
}
.kaki {background: #494b3e;}
.black {background: #000;}
.white {background: #fff; border: 1px solid #ccc;}
.orange {background: rgb(190, 86, 0);}

/* 견적내기 버튼 */
.b_btn {
  border: 1px solid #333;
  background: #fff;
  padding: 8px 26px;
}

/* 3. 자동차 소개 */
#intro {
  height: 860px;
  overflow: hidden;
  position: relative;
}
#intro .sec_title2 {
  /* padding-bottom: 30px; */
  position: absolute;
  z-index: 100;
  width: 100%;
  top: 30px;
}

.intro_title_left, .intro_title_right {
  position: absolute;
  z-index: 100;
  font-size: 30px;
  font-weight: 500;
  line-height: 40px;
}
.intro_title_left {
  top: 200px;
  left: 130px;
}
.intro_title_right {
  bottom: 200px;
  right: 150px;
  text-align: right;
}
#intro video {
  width: 100%;
  position: relative;
  top: -100px;
}
#intro .btn {
  position: absolute;
  z-index: 100;
  width: 150px;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

/* 4. 시승신청(체험) */
#test_drive {
  text-align: center;
  padding: 100px 0;
}
#test_drive article {
  width: 430px;
  height: 280px;
  padding: 15px;
  margin-top: 50px;
  border: 1px solid var(--s_color04);
  display: inline-block;
  vertical-align: middle;
}
#test_drive article h3 {
  font-size: 24px;
  padding-top: 20px;
  font-weight: bold;
  line-height: 40px;
}
#test_drive article p {
  font-size: var(--f_size1);
  line-height: 20px;
  padding: 20px 0;
  /* font-weight: bold; */
  margin-bottom: 30px;
}
.test_drive .test_d_p {
  color: rgba(0, 0, 0, .8);
  font-weight: 400;
  transform: translateY(40px);
  font-size: 12px;
}
.test_drive_l .test_d_p {transform: translateY(52px);}
.test_d_p {transform: translateY(64px);}
.test_drive_l {margin-right: 30px;}

.test_d_btn1 {
  background: var(--s_color01);
  color: var(--m_bg_color);
  line-height: 30px;
  padding: 10px 60px;
}
.test_d_btn2 {
  display: block;
  position: relative;
  top: 20px;
  color: var(--s_color03);
  font-weight: 450;
}

/* 5. 이벤트 슬라이드 서식  */
#event_pro {
  width: 100%;
  background: var(--s_color05);
  text-align: center;
  padding: 80px 0;
}
#event_pro .p01 {
  padding-bottom: 50px;
}

.event {
  position: relative;
  overflow: hidden;
  width: 1200px;
  height: 350px;
  margin: 0 auto;
}
.event .swiper-pagination {
  color: var(--s_color01);
  bottom: -250px;
}
.event .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  border-radius: 7.5px;
  transition: 0.5s;
}
.event .swiper-pagination-bullet-active {
  background: #043e96;
  width: 100px;
  border-radius: 10px;
}

/* 6. 캐스퍼 구매안내 */
#buy_info {
  text-align: center;
  padding: 120px 0;
}
#buy_info > h3 {
  font-size: 20px;
  padding: 40px 0 20px 0;
  font-weight: bold;
}
.t_color {color: var(--s_color03);}

/* 구매안내 목록 서식 */
.buy_info_list {
  width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 33.33%);
}
.buy_info_list > li {padding-top: 50px;}
.buy_info_list h4 {font-weight: bold; font-size: 18px;}
.buy_info_list > li img {height: 64px; margin: 15px 0;}
.p03 {line-height: 16px;}

.buy_info_list li:last-child {
  grid-area: 3/1/4/4;
}
.buy_info_list iframe {
  width: 100%;
  height: 560px;
}

/* 7. 고객지원 */
#cs {
  background: var(--s_color05);
  padding: 80px 0;
  margin: 0 auto;
  width: 100%;
}
#cs > h2 {
  text-align: center;
  margin-bottom: 80px;
}
#cs article, #cs ul, #cs > .ran_banner {
  width: 1200px;
  margin: 15px auto;
  background: var(--m_bg_color);
}
#cs article {padding-bottom: 24px;}
#cs article > h3 {
  font-size: 18px;
  text-align: center;
  padding: 60px 0 20px 0;
  font-weight: bold;
}
.ars_left {border-right: 1px solid var(--s_color04);}
.ars_left, .ars_right {
  width: 50%;
  padding: 20px 30px;
  box-sizing: border-box;
  float: left;
  display: flex;
  justify-content: space-around;
}
#cs article p {
  display: flex;
  flex-direction: column;
  line-height: 30px;
  text-align: center;
  align-items: center;
}
#cs p a {
  color: var(--s_color03);
  /* font-weight: bold; */
}
#cs p strong {
  font-weight: 500;
  font-size: var(--f_size2);
}

/* 아이콘 중복 서식 */
.car_icon, .member_icon {
  background: url('../images/bg-support-ars.png');
  display: inline-block;
  height: 46px;
  text-indent: -9999px;
  margin-top: 30px;
}
.car_icon {width: 75px;transform: translateY(30px);}
.member_icon {background-position: -90px 0px;width: 60px;}

#cs dl {line-height: 24px;}
#cs dl > dt {font-weight: bold;}
#cs dl > dd {color: var(--f_color1);}

/* 기타 cs */
#cs > ul {display: flex; background: none;}
.cs_etc {
  margin: 15px auto;
  /* display: flex; */
  justify-content: space-between;
}
.cs_etc > li {
  background: var(--m_bg_color);
  height: 310px;
  width: 25%;
  padding: 0 60px 10px 60px;
  position: relative;
  box-sizing: border-box;
  margin-right: 15px;
}
.cs_etc > li:last-child {
  margin-right: 0;
}
.cs_etc > li > h3 {
  font-size: var(--t_size01);
  /* text-align: left; */
  font-size: 18px;
  padding: 60px 0 20px 0;
  font-weight: bold;
}
.cs_etc > li > p {
  /* text-align: left; */
  line-height: 20px;
  /* display: block; */
}
/* 나의 문의 내역 */
.cs_etc > li:first-child a:first-of-type {
  color: var(--s_color03);
}
.cs_etc > li:last-child p:nth-of-type(2) {
  text-align: center;
}
.cs_etc > li:last-child a {
  color: var(--s_color03);
  font-weight: bold;
}
.cs_etc > li:last-child img {
  padding-top: 18px;
  padding-bottom: 10px;
}

.btn01 {
  background-color: var(--s_color02);
  color: var(--m_bg_color);
  display: inline-block;
  width: 140px;
  line-height: 34px;
  position: absolute;
  bottom: 30px;
  left: 50%;
  text-align: center;
  transform: translateX(-50%);
}

/* floeat 속성이 적용된 부모 요소의 높이를 살리기 위해 부모요소에 적용한다. */
.clearfix::after {
  content: '';
  clear: both;
  display: block;
}

/* 모달 서식 */
#modal {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, .8);
  width: 100%;
  height: 100%;
  z-index: 1000;
}
.modal_inner {
  width: 450px;
  height: 635px; /* 이미지 높이 600px */
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#ch_box {
  margin: 10px 0 0 5px;
}
#m_btn {
  float: right;
  margin: 4px 5px 0 0;
}

/* 원형 내비게이션 */
#m_nav {
  position: fixed;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1000;
  width: 200px;
  height: 160px;
  /* border: 3px solid #f00; */
}
#m_nav ul {position: relative;}
#m_nav ul li {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  line-height: 40px;
  transition: 0.5s;
  background: rgba(0, 0, 0, .4);
  position: absolute;
  right: 0px;
  overflow: hidden;
}
#m_nav ul li:first-child {top: 0;}
#m_nav ul li:nth-child(2) {top: 45px;}
#m_nav ul li:nth-child(3) {top: 92px;}
#m_nav ul li:nth-child(4) {top: 140px;}
#m_nav ul li:last-child {top: 185px;}

#m_nav span {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgb(0, 179, 255);
  color: #fff;
  text-align: center;
  font-weight: bold;
}
#m_nav li:hover {width: 200px;}
#m_nav a {
  color: #fff;
  font-size: 16px;
  width: 160px;
  text-indent: 50px;
  display: inline-block;
  position: absolute;
}
#m_nav li:hover span {
  background: rgb(5, 99, 221);
}