@charset "UTF-8";
/* test_drive.css */

/* 시승신청 섹션 */
.online_reserve {
  width: 400px;
  margin: 0 auto;
  /* border: 1px solid #333; */
}
.online_reserve > h2 {
  display: none;
}

/* 시승신청 폼 */
fieldset {border: none; padding: 10px 30px;}
legend {
  /* display: none; */
  text-align: center;
  font-size: 20px;
  line-height: 40px;
}
fieldset > p {
  margin: 15px 0;
}

/* 예약,취소 버튼 */
fieldset input[type=submit], fieldset input[type=reset] {
  border: none;
  padding: 6px 0;
  width: 48%;
  color: #fff;
  cursor: pointer;
}
fieldset input[type=submit] {
  background: #29519c;
}
fieldset input[type=reset] {
  background: #3d3d3d;
}